@page "/users/logout"
@inject IAuthenticationService authService
@inject NavigationManager navManager

@* Coder: Johan, Participants: All  *@

<h3>Logout</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await authService.Logout();
        navManager.NavigateTo("/");
    }
}