@*Made by Chris*@

@using HemDotNetBlazorClient.Components
@using HemDotNetBlazorClient.Providers
@using HemDotNetBlazorClient.Services
@page "/agent/manage-properties/"
@inject IMarketPropertyService marketPropertyService
@inject ApiAuthenticationStateProvider authStateProvider
@inject HttpClient httpClient

<h3 class="py-4 text-center">Lägg till, redigera eller ta bort objekt</h3>

@if (!response.Success)
{
    <div class="alert alert-danger">
        <h4>@response.Message</h4>
    </div>
}
else if (marketProperties == null)
{
    <div class="alert alert-info">
        <h4>Loading data...</h4>
    </div>
}
else
{
    <div class="d-flex flex-column align-items-center py-5">
        @foreach (var property in marketProperties)
        {
            <PropertyCard Property="property" />
            <div class="mt-0 d-flex gap-2">
                <button class="btn btn-primary text-white">Redigera</button>
                <button class="btn btn-danger text-white">Radera</button>
                <button class="btn btn-outline-success">Markera som såld</button>
            </div>
        }
        <div class="mt-5">
            <button class="btn btn-primary">
                <img src="plusicon.svg" alt="Add" class="mx-1" style="width: 1.2em; height: 1.2em; vertical-align: middle;" />
                Lägg till ett nytt objekt
            </button>

        </div>
    </div>
}

@code {

    [Parameter]
    public string? AgentId { get; set; }

    private List<PartialMarketPropertyDTO> marketProperties;
    private Response<List<PartialMarketPropertyDTO>> response = new Response<List<PartialMarketPropertyDTO>> { Success = true };

    protected override async Task OnInitializedAsync()
    {
        var authState = await authStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        var userId = user.FindFirst("uid")?.Value;


        response = await marketPropertyService.GetMarketPropertiesByAgent(userId);

        if (response.Success)
        {
            marketProperties = response.Data;
        }


    }
}
