@inherits LayoutComponentBase

<div class="page-container">
    <NavMenu />
    <main class="page-content">
        @Body
    </main>
    <Footer />
</div>

<style>
    .page-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .page-content {
        flex: 1 0 auto;
    }
</style>