@inherits LayoutComponentBase

<!--

Author: Allan 

-->

@code {
    // placeholder!
    private bool isLoggedIn = false;
}


<nav class="navbar navbar-expand-lg navbar-dark bg-primary w-100 shadow-sm align-text-baseline">
    <div class="container">
    <a class="navbar-brand d-flex align-items-baseline" href="#">
        <img src="logo.svg" alt="Logo" style="height: 36px; padding-bottom: 3px;" />
        <!--Can't get it to align properly without padding-botton!-->
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain"
            aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarMain">
        <!-- left -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Sök bostad</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Sök mäklare</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Sök mäklarbyrå</a>
            </li>
        </ul>

        <!-- right -->
        <ul class="navbar-nav">
            @if (!isLoggedIn)
            {
                <li class="nav-item">
                    <!-- <a class="nav-link text-white" href="#">Logga in</a> -->
                    <button type="button" class="btn btn-outline-light me-2">Logga in</button>
                </li>
            }
            else
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Min profil
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Min profil</a></li>
                        <li><a class="dropdown-item" href="#">Logga ut</a></li>
                    </ul>
                </li>
            }
        </ul>
    </div>
    </div>
</nav>










<nav class="navbar navbar-expand-lg navbar-dark bg-white w-100 shadow-sm align-text-baseline">
    <div class="container">
    <a class="navbar-brand d-flex align-items-baseline" href="#">
        <img src="logoblue.svg" alt="Logo" style="height: 36px; padding-bottom: 4px;" />
        <!--Can't get it to align properly without padding-botton!-->
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain"
            aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarMain">
        <!-- left -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Sök bostad</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Sök mäklare</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Sök mäklarbyrå</a>
            </li>
        </ul>

        <!-- right -->
        <ul class="navbar-nav">
            @if (!isLoggedIn)
            {
                <li class="nav-item">
                    <!-- <a class="nav-link text-white" href="#">Logga in</a> -->
                    <button type="button" class="btn btn-outline-primary me-2">Logga in</button>
                </li>
            }
            else
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Min profil
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Min profil</a></li>
                        <li><a class="dropdown-item" href="#">Logga ut</a></li>
                    </ul>
                </li>
            }
        </ul>
    </div>
    </div>
</nav>









<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100 shadow-sm align-text-baseline">
    <div class="container">
    <a class="navbar-brand d-flex align-items-baseline" href="#">
        <img src="logo.svg" alt="Logo" style="height: 36px; padding-bottom: 4px;" />
        <!--Can't get it to align properly without padding-botton!-->
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain"
            aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarMain">
        <!-- left -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Sök bostad</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link text-white" href="#">Sök mäklare</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link text-white" href="#">Sök mäklarbyrå</a>
            </li>
        </ul>

        <!-- right -->
        <ul class="navbar-nav">
            @if (!isLoggedIn)
            {
                <li class="nav-item">
                    <!-- <a class="nav-link text-white" href="#">Logga in</a> -->
                    <button type="button" class="btn btn-primary me-2">Logga in</button>
                </li>
            }
            else
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Min profil
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Min profil</a></li>
                        <li><a class="dropdown-item" href="#">Logga ut</a></li>
                    </ul>
                </li>
            }
        </ul>
    </div>
    </div>
</nav>













<nav class="navbar navbar-expand-lg navbar-dark bg-white w-100 shadow-sm align-text-baseline">
    <div class="container">
        <a class="navbar-brand d-flex align-items-baseline" href="#">
            <img src="logoblue.svg" alt="Logo" style="height: 36px; padding-bottom: 4px;" />
            <!--Can't get it to align properly without padding-botton!-->
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain"
                aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarMain">
            <!-- left -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Sök bostad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Sök mäklare</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Sök mäklarbyrå</a>
                </li>
            </ul>

            <!-- right -->
            <ul class="navbar-nav">
                @if (!isLoggedIn)
                {
                    <li class="nav-item">
                        <!-- <a class="nav-link text-white" href="#">Logga in</a> -->
                        <button type="button" class="btn btn-primary me-2">Logga in</button>
                    </li>
                }
                else
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Min profil
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#">Min profil</a></li>
                            <li><a class="dropdown-item" href="#">Logga ut</a></li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>







<style>
    /* Override Bootstrap background color
    .navbar {
        background-color: rgb(0,60,159) !important;
    }
        */
    /*
    .navbar-brand {
        filter: brightness(0) saturate(100%) invert(23%) sepia(90%) saturate(1352%) hue-rotate(190deg) brightness(97%) contrast(96%);
    }
    */
</style>

<div class="container-fluid">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary mx-auto my-3 rounded shadow">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-baseline" href="#">
            <img src="logo.svg" alt="Logo" style="height: 36px; padding-bottom: 3px;" />
            <!--Can't get it to align properly without padding-botton!-->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain"
                aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarMain">
            <!-- left -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Sök bostad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Sök mäklare</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Sök mäklarbyrå</a>
                </li>
            </ul>
            <!-- right -->
            <ul class="navbar-nav">
                @if (!isLoggedIn)
                {
                    <li class="nav-item">
                        <!-- <a class="nav-link text-white" href="#">Logga in</a> -->
                        <button type="button" class="btn btn-outline-light me-2">Logga in</button>
                    </li>
                }
                else
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Min profil
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#">Min profil</a></li>
                            <li><a class="dropdown-item" href="#">Logga ut</a></li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>



</div>







<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
