@inherits LayoutComponentBase

<!--

Author: Allan 

-->

@code {
    // placeholder!
    private bool isLoggedIn = false;
}


<nav class="navbar navbar-expand-lg navbar-dark bg-primary w-100 shadow-sm align-text-baseline">
    <a class="navbar-brand d-flex align-items-baseline" href="#">
        <img src="logo.svg" alt="Logo" style="height: 36px; padding-bottom: 3px;" />
        <!--Can't get it to align properly without padding-botton!-->
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain"
            aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarMain">
        <!-- left -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Sök bostad</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Sök mäklare</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Sök mäklarbyrå</a>
            </li>
        </ul>

        <!-- right -->
        <ul class="navbar-nav">
            @if (!isLoggedIn)
            {
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Logga in</a>
                </li>
            }
            else
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Min profil
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Min profil</a></li>
                        <li><a class="dropdown-item" href="#">Logga ut</a></li>
                    </ul>
                </li>
            }
        </ul>
    </div>
</nav>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
