@* @* Author: Adam *@
@* Co-Author: Allan (styling, making the footer stick to the bottom instead of flying up)*@

<footer class="footer bg-primary text-white py-4 mt-5">
    <div class="container">
        <div class="row text-center text-md-start">
            <div class="col-md-4 mb-3">
                <h5>Om Hem.NET</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Om oss</a></li>
                    <li><a href="#" class="text-white">Jobba hos oss</a></li>
                    <li><a href="#" class="text-white">Bostadsstatistik</a></li>
                    <li><a href="#" class="text-white">Integritet</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h5>För mäklare</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Vanliga frågor</a></li>
                    <li><a href="#" class="text-white">Marknadsföring</a></li>
                    <li><a href="#" class="text-white">Press</a></li>
                    <li><a href="#" class="text-white">Kontakt</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Följ oss</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Facebook</a></li>
                    <li><a href="#" class="text-white">Instagram</a></li>
                    <li><a href="#" class="text-white">LinkedIn</a></li>
                    <li><a href="#" class="text-white">TikTok</a></li>
                </ul>
            </div>
        </div>

        <hr class="bg-light" />
        <p class="text-center small mt-3 mb-0">© 2025 HemDotNet AB – Din partner på bostadsmarknaden.</p>
    </div>
</footer>

<style>
    /* Footer styling */
    .footer {
        flex-shrink: 0; /* Prevents the footer from shrinking */
    }

    a.text-white:hover{
        text-decoration: underline;
        color: #ddd;
    }
</style> 



 