@* Author: Adam *@
<footer class="footer">
    <div class="footer-content">
        <p>© 2025 HemDotNet AB</p>
        <p>PLACEHOLDER, SLOGAN HÄR</p>
    </div>
</footer>

<style>
    .footer {
        padding: 1.5rem 1rem;
        background-color: #00409E;
        color: white;
        font-size: 0.9rem;
        text-align: center;
        margin-top: 4rem;
        width: 100%;
    }

    .footer-content a {
        color: #ffffff;
        text-decoration: underline;
    }

        .footer-content a:hover {
            color: #dbe9ff;
        }
</style>

